{% extends 'bulk_base.html' %}
{% load staticfiles %}



{% block js.shared %}
{{ block.super }}

{% endblock js.shared %}

{% block title %}Bulkmarks{% endblock title %}

{% block nav_items %}
{{ block.super }}
{% if user.is_authenticated %}
	<li><a href="{% url 'links' scope=user.get_username %}">{{ user.get_username|upper }}'s Links</a></li>
	<li><a href="{% url 'linkcreate' %}">Add Link</a></li>
	<li><a href="{% url 'import' %}">Import</a></li>
	<li><a href="{% url 'export' %}">Export</a></li>
{% endif %}
{% endblock nav_items %}