{% extends 'bulk_base.html' %}
{% load staticfiles %}



{% block js.shared %}
{{ block.super }}

{% endblock js.shared %}

{% block title %}Bulkmarks{% endblock title %}

{% block user_items %}
{% if user.is_authenticated %}
	<li class="nav-item"><a class="nav-link" href="{% url 'links' scope='user' %}">{{ user.get_username|upper }}'s Links</a></li>
	<li class="nav-item"><a class="nav-link" href="{% url 'linkcreate' %}">Add Link</a></li>
{% endif %}
{{ block.super }}
{% endblock user_items %}



{% block more_user_items %}
{{ block.super }}
{% if user.is_authenticated %}
	<li class="dropdown-item"><a href="{% url 'import' %}">Import</a></li>
	<li class="dropdown-item"><a href="{% url 'export' %}">Export</a></li>
{% endif %}
{% endblock more_user_items %}