## mkvirtualenv -p /usr/local/bin/python3 bulk

beautifulsoup4
dj-database-url
django-annoying
django-braces
django-debug-toolbar
django-widget-tweaks
django<2.0
djangorestframework
git+http://github.com/dashdrum/dashdrum-django-snips.git#egg=dashdrum-django-snips
-e git+http://github.com/dashdrum/django-heartbeat.git#egg=django-heartbeat
gunicorn
psycopg2-binary
urllib3
whitenoise
html5lib
six
django-taggit
celery
redis
django-celery-results
#django-celery-beat
factory-boy
django-postgres-metrics
sendgrid>=3.6.5,<4
sendgrid-django
opml
