## mkvirtualenv -p /usr/local/bin/python3 bulk

beautifulsoup4
dj-database-url
django-annoying
django-braces
django-debug-toolbar
django-heartbeat
django-widget-tweaks
django>=1.9
djangorestframework
git+http://github.com/dashdrum/dashdrum-django-snips.git#egg=dashdrum-django-snips
git+http://github.com/dashdrum/django-heartbeat.git#egg=django-heartbeat
gunicorn
psycopg2
urllib3
whitenoise
html5lib