{% extends "profiles_base.html" %}

{% load widget_tweaks %}

{% block title %}{{ block.super }} - Profile Edit{% endblock title %}


{% block page_title %}Profile Edit{% endblock page_title %}

{% block content %}
<form action="." method="post" > {% csrf_token %}
<div class="row">
	<div id="linkInformation" class="col-md-10 col-md-offset-1">

		<h1>Update Profile Information</h1>

		<p><strong>Username</strong><br/>&nbsp;&nbsp;&nbsp; {{object.user.username}}</p>

		<span class='show_error'>{{ form.non_field_errors }}</span>

		{% for field in form %}
				<div class="form-group{% if field.errors %} has-error{% endif %}">
			        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
			        {% render_field field class="form-control" %}
			        {% if field.help_text %}
			          <small style="color: grey">{{ field.help_text }}</small>
			        {% endif %}
			        {% for error in field.errors %}
			          <p class="help-block">{{ error }}</p>
			        {% endfor %}
			     </div>
		{% endfor %}


	</div>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="btn-toolbar text-right" aria-label="...">
			<input   class="btn btn-default"  type=button value="Cancel" onClick="history.go(-1)" class="button" >
			<input   class="btn btn-primary"  type="submit" value="Save" class="button"/>
		</div>
	</div>
</div>

	</form>

{% endblock content %}