{% extends "bulk_base.html" %}

{% block title %}Password reset sent{% endblock %}

{% block content %}
	<h3>Password reset sent</h3>
  <p>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>
{% endblock %}

{% block nav_items %}{% endblock nav_items %}



{% block user_items %}
        <li><a href="{% url 'login' %}">Log In</a></li>
{% endblock user_items %}