{% extends 'profiles_base.html' %}

{% block title %}{{ block.super }} - Signup{% endblock title %}

{% block content %}
  <h2>Sign up</h2>
  <p>Fill out the following fields and press Sign Up to register for Bulkmarks</p>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
{% endblock %}

{% block nav_items %}{% endblock nav_items %}

{% block user_items %}
        <li><a href="{% url 'login' %}">Log In</a></li>
{% endblock user_items %}