{% extends 'base.html' %}
{% load staticfiles %}

{% block css_shared %}
{{ block.super }}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

<link rel="stylesheet" href="{% static 'bulk/css/bulkmarks.css' %}">

{% endblock css_shared %}

{% block js.shared %}
{{ block.super }}
<script type="text/javascript" src="{% static 'bulk/js/app.js' %}"></script>
{% endblock js.shared %}

{% block title %}Bulk{% endblock title %}

{% block nav_items %}
	{{ block.super }}
{% endblock nav_items %}

{% block user_items %}
	{% if user.is_authenticated %}
		<li class="nav-item dropdown">
		  <a href="#" name="profile" class="dropdown-toggle nav-link"  data-toggle="dropdown">Profile
		  <span class="caret"></span></a>
		  <ul class="dropdown-menu dropdown-menu-right">
		  	{% if profile %}
		    	<li class="dropdown-item"><a href="{% url 'profileupdate' pk=profile.id %}">Edit Profile</a></li>
		    {% endif %}
		    <li class="dropdown-item"><a href="{% url 'password_change' %}">Change Password</a></li>
			{% block more_user_items %}{% endblock more_user_items %}
            <li class="dropdown-item">
            	<a href="{% url 'logout' %}">{{ user.get_username|upper }} Log Out</a>
            </li>
		  </ul>
		</li>
	{% else %}
		{{ block.super }}
    {% endif %}
{% endblock user_items %}

{% block contentheader %}
{{block.super}}

<a class="navbar-brand" href="{% url 'index' %}" alt="Bulkmarks logo" title="BULKmarks Home"><h1></h1>
{% block headerimage %}
<img src="{% static 'bulk/images/bulkmarks.png' %}" alt="Bulkmarks Logo" class="logo"/>
{% endblock headerimage %}
</a>
{% endblock contentheader %}

{% block extra_head %}
	{{ block.super }}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-94004-8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-94004-8');
</script>

{% endblock extra_head %}