{% extends 'base.html' %}
{% load staticfiles %}

{% block css_shared %}
{{ block.super }}

		<!-- Application CSS -->


	{% endblock css_shared %}

{% block js.shared %}
{{ block.super }}
{% endblock js.shared %}

{% block title %}Bulk{% endblock title %}

{% block nav_items %}
	{{ block.super }}
{% endblock nav_items %}

{% block user_items %}
	{% if user.is_authenticated %}
		<li>
		  <a href="#" name="profile" class="dropdown-toggle"  data-toggle="dropdown">Profile
		  <span class="caret"></span></a>
		  <ul class="dropdown-menu">
		    <li><a href="{% url 'profileupdate' pk=profile.id %}">Edit Profile</a></li>
		    <li><a href="{% url 'password_change' %}">Change Password</a></li>
		    <li><a href="{% url 'logout' %}">{{ user.get_username|upper }} Log Out</a></li>
		  </ul>
		</li>
	{% else %}
        <li><a href="{% url 'login' %}">Log In</a></li>
    {% endif %}
{% endblock user_items %}

{% block contentheader %}
{{block.super}}

<a href="{% url 'index' %}" alt="Bulkmarks logo" title="BULKmarks Home">
	<span id="page_title">BULKmarks</span>
</a>
{% endblock contentheader %}

{% block extra_head %}
	{{ block.super }}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-94004-8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-94004-8');
</script>

{% endblock extra_head %}