{% extends 'links_base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block js.custom %}



{% endblock js.custom %}

{% block title %}{{ block.super }} - Delete User Links{% endblock title %}

{% block content %}

<form action="." method="post" > {% csrf_token %}
  <div class="row user-select"> <!-- Delete another user's links -->
    <div class="col-md-5 offset-md-1">
          <div class="form-group{% if form.user_select.errors %} has-error{% endif %}">
                <label for="{{ form.user_select.id_for_label }}">{{ form.user_select.label }}</label>
                {% render_field form.user_select class="form-control" %}
                {% for error in form.user_select.errors %}
                  <p class="help-block">{{ error }}</p>
                {% endfor %}
          </div>
    </div> <!-- col-md-3 -->
  </div> <!-- row user-select -->

  <div class="row">
    <div class="col-md-5 offset-md-1">
      <div class="btn-toolbar text-right" role="group" aria-label="...">
        <input   class="btn btn-default"  type=button value="Cancel" onClick="history.go(-1)" class="button" >
        <input   class="btn btn-primary"  type="submit" value="Delete Links" class="button"/>
      </div>
    </div> <!-- col -->
  </div> <!-- row -->
</form>

{% endblock content %}

{% block end_scripts %}
  {{ block.super }}
  <script src="{% static 'links/js/link.js' %}"></script>
{% endblock end_scripts %}
