{% extends "links_base.html" %}

{% block title %}{{ block.super }} - Export{% endblock title %}


{% block page_title %}Link Export{% endblock page_title %}

{% block content %}
<form action="." method="post" enctype="multipart/form-data"> {% csrf_token %}
<div class="row">
<p>Exporting links to: {{filename}}</p>
</div>

<div class="row">
	<div class="btn-group" role="group" aria-label="...">
		<input   class="btn btn-secondary"  type="submit" value="Export" class="button"/>
		<input   class="btn btn-secondary"  type=button value="Cancel" onClick="history.go(-1)" class="button" >
	</div>
</div>

	</form>

{% endblock content %}