{% extends "links_base.html" %}

{% load widget_tweaks %}

{% block title %}{{ block.super }} - Import{% endblock title %}


{% block page_title %}Link Import{% endblock page_title %}

{% block content %}
<form action="." method="post" enctype="multipart/form-data"> {% csrf_token %}
<div class="row">
	<div id="importInfo" class="col-md-10 col-md-offset-1">

		<span class='show_error'>{{ form.non_field_errors }}</span>

		{% for field in form %}
				<div class="form-group{% if field.errors %} has-error{% endif %}">
			        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
			        {% render_field field class="form-control" %}
			        {% for error in field.errors %}
			          <p class="help-block">{{ error }}</p>
			        {% endfor %}
			     </div>
		{% endfor %}

		{% if not form %}No form!!{% endif %}

	</div>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="btn-toolbar text-right" aria-label="...">
			<input   class="btn btn-default"  type=button value="Cancel" onClick="history.go(-1)" class="button" >
			<input   class="btn btn-primary"  type="submit" value="Import" class="button"/>
		</div>
	</div>
</div>

	</form>

{% endblock content %}