{% extends 'links_base.html' %}

{% load static %}

{% block js.custom %}



{% endblock js.custom %}

{% block title %}{{ block.super }} - List{% endblock title %}


{% block page_title %}Link List for {{ display_name}}{% endblock page_title %}

{% block content %}
<!-- BUTTON TO TRIGGER THE ACTION -->
  <p>
    <button type="button" class="btn btn-primary js-add-link">
      <span class="glyphicon glyphicon-plus"></span>
      New Link
    </button>
  </p>

<div class="row">
  <div class="col-md-7 col-md-offset-1">

  <h2>Links for {{ display_name }}</h2>

    <dl id="link-list">
    {% for o in object_list %}
    	<div class="link">
    		<dt><a href="{% url 'linkvisit' o.id %}" target="_blank">{{ o.title }}</a></dt>
    		{% if o.comment %}
    			<dd>{{ o.comment }}</dd>
    		{% endif %} (<a href="{% url 'linkdetail' o.id %}">Detail</a>) (<a href="{% url 'linkdelete' o.id %}">Delete</a>)
    	</div>
    {% endfor %}
    </dl>

  </div>
  <div class="col-md-4">
    <div class = "link public-link">
      <h3>Latest Public Links</h3>
      <dl id="latest-public">
        {% for p in latest_public|slice:":7" %}
          <dt><a href="{% url 'linkvisit' p.id %}" target="_blank">{{ p.title }}</a></dt>
        {% endfor %}
      </dl>
    </div>
  </div>
</div>


  <!-- PaginatorFive navigation buttons -->
  {% if is_paginated %}
        <ul class="pagination pagination-centered">
            {% if page_obj.has_previous %}
                <li><a href="?page=1">1</a></li>
                {% if page_obj.has_previous_five %}
                    <li><a href="?page={{ page_obj.previous_five_page_number }}">Back 5</a></li>
                {% endif %}
                <li><a href="?page={{ page_obj.previous_page_number }}">Prev</a></li>
            {% endif %}

            <li class="active" ><a href="?page={{page_obj.number}}">{{page_obj.number}}</a></li>

            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
                {% if page_obj.has_next_five %}
                    <li><a href="?page={{ page_obj.next_five_page_number }}">Ahead 5</a></li>
                {% endif %}
                <li><a href="?page={{ page_obj.paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
            {% endif %}
        </ul>
    {% endif %}

  <!-- THE MODAL WE WILL BE USING -->
  <div class="modal fade" id="modal-link">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>

{% endblock content %}



{% block end_scripts %}
  {{ block.super }}
  <script src="{% static 'links/js/link.js' %}"></script>
{% endblock end_scripts %}
