{% extends 'links_base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block css_custom %}
<link rel="stylesheet" href="{% static 'links/css/links.css' %}" >
{% endblock css_custom %}

{% block js.custom %}
<script src="{% static 'links/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'links/js/shortcuts/infinite.min.js' %}"></script>
{% endblock js.custom %}

{% block title %}{{ block.super }} - List{% endblock title %}

{% block navbarform %}
  {% if user.is_authenticated %}
    <button class="searchBtn d-lg-none" id="search-sm-btn"><a href="#"><i class="fa fa-search"></i></a></button>
  {% endif %}
<div class="d-none d-lg-block">
  {% if user.is_authenticated %}
    <form class="navbar-form" role="search" action="{% url 'searchentry' %}" method="post">
             {% csrf_token %}
      <div class="input-group form-group{% if searchform.user_select.errors %} has-error{% endif %}">
        {% render_field searchform.scope class="form-control" %}
        {% render_field searchform.searchparam class="form-control" %}
        <span class="input-group-append">
          <button class="btn btn-default" type="submit"><i class="fas fa-search"></i></button>
        </span>
      </div>
    </form>
  {% endif %}
</div>
{% endblock navbarform %}

{% block nav_items %}
{{ block.super }}
{% if user.is_authenticated %}
    <li class="nav-item d-lg-none" id="public-links-menu"><a class="nav-link" href="{% url 'links' scope='public' %}" title="Public Links">Public Links</a></li>
{% endif %}
{% if not user.is_authenticated %}
    <li class="nav-item d-lg-none" id="request-invite-menu"><a class="nav-link" href="{% url 'signupquick' %}" title="Request Invite">Request Invite</a></li>
{% endif %}
{% endblock nav_items %}

{% block content %}

<div class="d-lg-none" id="search-sm"  style="display: none">
  {% if user.is_authenticated %}
    <form role="search" action="{% url 'searchentry' %}" method="post">
             {% csrf_token %}
      <div class="input-group form-group{% if searchform.user_select.errors %} has-error{% endif %}">
        {% render_field searchform.scope class="form-control" %}
        {% render_field searchform.searchparam class="form-control" %}
        <span class="input-group-append">
          <button class="btn btn-default" type="submit"><i class="fas fa-search"></i></button>
        </span>
      </div>
    </form>
  {% endif %}
</div>

<div class="row">
  <div class="col-md-7 offset-md-1" id="link-container">

    {% if message %}
      <div id="message">
        <p><em>{{ message }}</em></p>
      </div>
    {% endif %}

    <h2>
      {% if search_term %}
        Search
      {% endif %}
      {% if display_name %}
        {{ display_name|upper }}'s Links
      {% else %}
        Public Links
      {% endif %}
      {% if tag %}
         tagged with <em>{{ tag }}</em>
      {% endif %}
      {% if search_term %}
        for <em>{{ search_term }}</em>
      {% endif %}
    </h2>

    <dl id="link-list">
      <div class="infinite-container">
        {% for o in object_list %}
          <div class="infinite-item link">
            <dt><a href="{% url 'linkvisit' o.id %}" target="_blank">{{ o.title }}</a></dt>
            <dd>
            {% if o.comment %}
              <p>{{ o.comment|slice:":180"}}</p>
            {% endif %}
            {% for t in  o.tags.names %}
              {% if forloop.first %}<p>Tags: {% endif %}
                <a href="{% url 'taglinks' scope t %}" title="Tag search for {{ t }}">
              {{ t }}</a>
              {% if not forloop.last%}, {% endif %}
              {% if forloop.last%}</p>{% endif %}
            {% endfor %} <!-- tags.names -->
            <p>
            {% if user == o.profile.user or user.is_superuser %}
              (<a href="{% url 'linkdetail' o.id %}">Detail</a>) (<a href="{% url 'linkdelete' o.id %}">Delete</a>)
            {% endif %}
            {% if user != o.profile.user and user.is_authenticated %}
              (<a href="{% url 'linkcopy' o.id %}" title="Copy to my link list">Copy</a>)
            {% endif %}
          </p>
        </dd>
            {% if forloop.counter == 10 %}  <!-- 1/2 of page size -->
              {% if page_obj.has_next %}
                <a class="infinite-more-link" style="display: none;" href="?page={{ page_obj.next_page_number }}">More</a>
              {% endif %}
            {% endif %} <!-- forloop.counter -->
          </div> <!-- infinite-item, link -->
        {% endfor %} <!-- object-list -->
      </div> <!-- infinite-container -->
    </dl>

    <div class="loading" style="display: none;">
      Loading...
    </div>

    <script>
      var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        onBeforePageLoad: function () {
          $('.loading').show();
        },
        onAfterPageLoad: function ($items) {
          $('.loading').hide();
        }
      });
    </script>

  </div> <!-- link-container -->

  <div class="col-md-4">

    {% if display_name %}
      <div class="row">
        <div class = "link public-link d-none d-lg-block" > <!-- show public links -->
          <h2>Latest Public Links</h2>
          <p><a href="{% url 'links' scope='public' %}" title="View all public links">(view all)</a></p>
          <dl id="latest-public">
            {% for p in latest_public|slice:":7" %}
              <dt><a href="{% url 'linkvisit' p.id %}" target="_blank">{{ p.title }}</a></dt>
            {% endfor %}
          </dl>
        </div> <!-- public-link -->
      </div> <!-- row -->
    {% endif %}

    {% if not user.is_authenticated %}
      <div class="row d-none d-lg-block">  <!-- Request invite -->
        <div class = "request-invite">
          <p>Want to use Bulkmarks? <br>Request an invitation today.</p>
          <a class="btn btn-primary" href="{% url 'signupquick' %}" role="button">Request Invite</a>
        </div>
      </div> <!-- row -->

      <div class="row  d-none d-lg-block">  <!-- Signup for invite -->
        <div class = "registration">
          <p>Have an invitation? <br>Register now!</p>
          <a class="btn btn-primary" href="{% url 'registration' %}" role="button">Register</a>
        </div>
      </div> <!-- row -->
    {% endif %}

    {% if user.is_authenticated %}
      <div class="row user-select  d-none d-lg-block"> <!-- View another user's public links -->
        <div class="col-md-11">
          <form action="{% url 'linksentry' %}" method="post" > {% csrf_token %}
            <div class="form-group{% if userform.user_select.errors %} has-error{% endif %}">
              <label for="{{ userform.user_select.id_for_label }}">{{ userform.user_select.label }}</label>
              {% render_field userform.user_select class="form-control" onChange="form.submit();"%}
              {% for error in userform.user_select.errors %}
                <p class="help-block">{{ error }}</p>
              {% endfor %}
            </div>
          </form>
        </div> <!-- col-md-3 -->
      </div> <!-- row user-select -->
    {% endif %}

  </div> <!-- col -->
</div> <!-- row -->

{% endblock content %}



{% block end_scripts %}
  {{ block.super }}
  <script src="{% static 'links/js/link.js' %}"></script>
{% endblock end_scripts %}
