{% extends "links_base.html" %}
{% load staticfiles %}

{% load widget_tweaks %}

{% block title %}{{ block.super }} - Add/Edit{% endblock title %}

{% block js.custom %}
	{{ block.super }}
	<script src="{% static 'links/js/link_add.js' %}"></script>
{% endblock js.custom %}


{% block page_title %}Link Add/Edit{% endblock page_title %}

{% block content %}
<form action="." method="post" > {% csrf_token %}
<div class="row">
	<div id="linkInformation" class="col-md-10 offset-md-1">

		<h1>Enter Link Information</h1>

		<span class='show_error'>{{ form.non_field_errors }}</span>

		{% for field in form.visible_fields %}
				<div class="form-group{% if field.errors %} has-error{% endif %}">
			        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
			        {% render_field field class="form-control" %}
			        {% for error in field.errors %}
			          <p class="help-block">{{ error }}</p>
			        {% endfor %}
			     </div>
		{% endfor %}
		{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}



	</div>
</div>

<div class="row">
	<div class="col-md-10 offset-md-1">
		<div class="btn-toolbar text-right" aria-label="...">
			<input   class="btn btn-default"  type=button value="Cancel" onClick="history.go(-1)" class="button" >
			<input   class="btn btn-primary"  type="submit" value="Save" class="button"/>
		</div>
	</div>
</div>

	</form>

{% endblock content %}