{% extends "marketing_base.html" %}

{% block title %}{{ block.super }} - Signup{% endblock title %}


{% block page_title %}Signup{% endblock page_title %}

{% block content %}
<form action="." method="post" > {% csrf_token %}
<div class="row">
	<div class="col-md-6 offset-md-1">
		<p> Registration for BulkMarks is currently by invitation only.  To request an invitation, please enter your email address in the field below and press Signup. </p>
		<p>Watch your email for your invitation to arrive soon.</p>
	</div>
</div>
<div class="row">
	<div id="signupInfo" class="col-md-10 offset-md-1">

		<span class='show_error'>{{ form.non_field_errors }}</span>

		{% for field in form %}
				<div class="fieldWrapper">
					<p>
						{% if field.errors %}<span class='show_error'>{% endif %}
						{{ field.label_tag }}
						{% if field.errors %}</span>{% endif %}
						{{ field }}
						{{ field.errors }}
					</p>
				</div>
		{% endfor %}

		<div class="btn-group" role="group" aria-label="...">
			<input   class="btn btn-primary"  type="submit" value="Signup" class="button"/>
			<input   class="btn btn-secondary"  type=button value="Cancel" onClick="history.go(-1)" class="button" >
		</div>
	</div> <!-- col -->
</div> <!-- row -->

	</form>

{% endblock content %}